@font-face {
  font-family: 'roboto mono';
  src: url('../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf')
    format('truetype');
  font-family: 'roboto bold';
  src: url('../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  --soy-sauce: #1e181c;
  --grey: #222025;
  --brown-grey: rgba(44, 33, 33, 0.911);
  --intense-red: rgb(191, 77, 77);
  --cotton-candy: rgb(224, 209, 202);
  --dust-pink: rgb(133, 129, 129);
  --purple-grey: #4f4f65;
  --blue-grey : #2D4654;
  --blue-green: #243B4A;
  --grey-green: rgb(78, 109, 94);
  --valid-green: #698d6a;
}

* {
  font-family: 'roboto mono', sans-serif;
  font-weight: 100;
  font-style: normal;
}

.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {  
  margin: 0;
  padding: 0;
}

/* all dialogs */

body:has(dialog[open]) {
  overflow-y: hidden;
}

dialog:not([open]) {
  display: none;
}

dialog::backdrop {
  background-color: var(--grey);
  opacity: 0.75;
}

/* Login dialog */

.login-dialog {
  width: 30em;
  background-color: var(--blue-grey);
  color: var(--cotton-candy);
  border-radius: 1em;
  border-color: var(--soy-sauce);
  height: 80vh;
  font-size: 0.8em;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

legend {
  font-family: 'roboto bold';
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

input {
  border-radius: 1em;
  background-color: var(--cotton-candy);
  border-left: 0.5em solid;
  transition: border-color 0.5s ease-in;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: var(--soy-sauce);
}

input:invalid {
  border-left-color: var(--intense-red);
}

input:valid {
  border-left-color: var(--valid-green);
}

h4 {
  font-family: 'roboto bold';
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
}

.registration, .login {
  font-size: 1em;
  margin: 1em;
  padding: 1em;
  text-align: center;
  width: 60%;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 60%;
}

.button {
  padding: 0.5em;
  background-color: var(--blue-green);
  color: var(--cotton-candy);
  border-radius: 1em;
  border: 0.1em solid var(--soy-sauce);
  cursor: pointer;
  transition: all 1s;
}

.button:hover {
  background-color: var(--soy-sauce);
  transition: 1s;
  border: 0.1em solid var(--dust-pink);
}

/* Main page - navigation */

nav {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav {
  background-color: var(--grey);
  display: flex;
  align-items: center;
}

.company {
  font-family: 'roboto bold';
  padding: 0.5em;
  margin: 0.2em;
  margin-left: 4em;
  font-size: 1.6em;
  color: var(--cotton-candy);
}

.login-button {
  justify-content: flex-end;
  margin-right: 0.5em;
}

#login:hover {
  transition: all 1s;
  background-color: var(--blue-green);
}

/* Main page - buttons for filtering */

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
}

#buttons {
  display: flex;
  margin: 0.5em;
}

.filter-button, #login {
  background-color: var(--soy-sauce);
  color: var(--cotton-candy);
  border: 0.1em solid var(--dust-pink);
  border-radius: 0.5em;
  padding: 1em;
  margin: 0.2em;
  cursor: pointer;
  transition: all 1s;
}

.filter-button:hover {
  background-color: var(--blue-green);
}

/* main page - map */

#map-container {
  overflow: hidden;
  height: 79vh;
  width: 100%;
}

#map-container > div.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate > canvas {
  width: 100%;
  height: 100%;
}

.popup {
  margin-top: 1em;
  color: var(--soy-sauce);
  font-size: 1em;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;  
}

.popup h2 {
  margin: 1em;
}

.popup p {
  margin: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.popup ul {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}

.popup-button {
  text-align: center;
  width: 100%;
  display: inline-block;
  background-color: var(--dust-pink);
  color: var(--soy-sauce);
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;
}

.popup-button:hover {
  background-color: var(--grey-green);
  color: var(--cotton-candy);
  transition: 1s;
}

#map-container
  > div.mapboxgl-popup.mapboxgl-popup-anchor-bottom
  > div.mapboxgl-popup-content,
#map-container
  > div.mapboxgl-popup.mapboxgl-popup-anchor-top
  > div.mapboxgl-popup-content {
  border-radius: 8px;
  padding: 1em;
}

#map-container
  > div.mapboxgl-popup.mapboxgl-popup-anchor-top
  > div.mapboxgl-popup-content
  > button,
#map-container
  > div.mapboxgl-popup.mapboxgl-popup-anchor-bottom
  > div.mapboxgl-popup-content
  > button {
  color: var(--soy-sauce);
  font-size: 1.2em;
  border: none;
  position: absolute;
  padding: 0.2em;
  top: 0.5em;
  right: 0.5em;
}

/* Dialogs - menus */

#today-menu, #week-menu {
  border-radius: 1.5em;
  background-color: var(--grey);
  color: var(--cotton-candy);
  border: 0.1em solid var(--dust-pink);
  margin: auto;
}

#today-menu h2, #today-menu p, #week-menu h2 {
  font-family: 'roboto bold';
  padding: 0.5em;
  margin: 0;
  text-align: center; 
}

table {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  border-bottom: 0.1em solid var(--dust-pink);
  padding-left: 1em;
  padding-bottom: 0.5em;
  text-align: left;
  font-family: 'roboto bold';
  font-size: 1.1em;
}

td {
  border-bottom: 0.1em solid var(--dust-pink);
  padding: 0.5em 1em;
}

.date {
  color: var(--grey-green);
  padding-left: 1em;
  border: none;
}

footer {
  bottom: 0;
  width: 100%;
  background-color: var(--soy-sauce);
  text-align: center;
  color: var(--cotton-candy);
  padding: 0.2em;
  font-size: 0.65em;
}
